.l-meta {
  @include font-size(1.2);
  background-color: $darkest;
  text-align: right;
  a {
    color: $brown-light;
  }
}

.l-header {
  position: relative;
  background-color: $brown-light;
  @include respond-to(large) {
    float: left;
    width: 25%;
    margin-right: 1em;
  }
}

.l-content {
  background: lighten($brown-light, 20%);

}

.l-meta, .l-header, .l-content {
  padding-left: 1em;
  padding-right: 1em;
}
/**
 * Constrained layout
 */

.l-constrained {
  max-width: 720px;
  margin: auto;
  padding: 1.5em 0;
  overflow: hidden;
}

.l-constrained-tighter {
  padding: .5em 0;
}
