/**
 * header module
 * contains: logo
 */

.logo {
  display: inline-block;
  font-family: $font;
  font-weight: 700;
  line-height: 1;
  @include font-size(2.5);
  @include transition(top 1000ms ease);
  color: $brown-dark;
  span:first-child, img {
    display: none;
  }

  @include respond-to(landscape) {
    span {
      display: none;
      span {
        @include font-size(1.5);
        color: $brown;
      }
      &:first-child, span {
        display: block;
      }
    }
  }
  @include respond-to(tablet) {
    top: 1em;
  }
 }

