/**
 *
 */

// colors
// $white: #FFFFFF;
// $light: #ACCFCC;
// $dark: #77C4D3;
// $darkest: #333745;
// $highlight: #EA2E49;
$white: #FFFFFF;
$yellow: #FCFAD0;
$blue-dark: #464646;
$blue: #5B605F;
$blue-light: #A1A194;
$highlight: #A90641;
// Fonts
$font: 'Source Sans Pro', Aria, serif;
