/**
 *
 */

// colors
// $white: #FFFFFF;
// $light: #ACCFCC;
// $dark: #77C4D3;
// $darkest: #333745;
// $highlight: #EA2E49;
$white: #FFFFFF;
$darkest: #312C20;
$dark: #494D4B;
$brown-dark: #7C7052;
$brown: #B3A176;
$brown-light: #E2CB92;
// Fonts
$font: 'Source Sans Pro', Aria, serif;
